<!doctype html>
<html>
<head>
    <title>Home - Bitcoin / Altcoin Portfolio Calc</title>
    <%- include styles.ejs %>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Bitcoin and Altcoin Portfolio Calculator</h1>
        
        <h2>Now with database to remember your info between logins</h2>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-success bt-lg"><span class="fa fa-user"></span> Login / Demo Account</a>
        <a href="/signup" class="btn btn-default bt-lg"><span class="fa fa-user"></span> Signup for a New Account</a>
        
    </div>
    <div class="demo">
        <h2>30-second demo loop:</h2>
        <p><img src="node-capstone1024x768_animated.gif" class="screenshot" alt="Sample Portfolio Animated GIF" /></p>
    </div>
</div>
<!-- insert a script partial -->
<%- include scripts.ejs %>
</body>
</html> 
