<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <%- include styles.ejs %>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Bitcoin and Altcoin Portfolio Calculator</h1>
        <p><img src="samplePortfolio.gif" alt="Sample Portfolio Screenshot" /></p>
        <h2>Now with database to remember your info between logins</h2>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>

    </div>

</div>
<!-- insert a script partial -->
<%- include scripts.ejs %>
</body>
</html> 
